<div id="home" class="container">
  <div class="row">
    <div class="col-md-6 center">
      <%= image_tag ("connected_world.svg"), class: "img-responsive", id: "landing-img"%>
    </div>
    <div class="col-md-6 welcome">
      <h2>Connect. Engage. Heal </h2>
      <p><span class="text-muted">“Sometimes, life will kick you around, but sooner or later, you realize you’re not just a survivor.
        You’re a warrior, and you’re stronger than anything life throws your way." ~ Brooke Davis</span></p>
      <div class="welcome-group-btn">
        <%= link_to 'Get Paired', assignment_path, class: 'btn btn-primary' %>
        <%= link_to 'Become a Volunteer', 'https://brokenvessel.typeform.com/to/Dku3KR', class: 'btn btn-primary' %>
      </div>
      <div class="welcome-group-btn">
        <%= link_to 'Give Feedback', '#', class: 'btn btn-info' %>
        <%= link_to 'Contact Admin', '#', class: 'btn btn-info' %>
      </div>

    </div>
  </div>
</div>
<%= render 'shared/footer'%>
