<div class="col-sm-8">
  <div class="row">
    <header>
      <h3> User Details </h3>
    </header>
  </div>

  <div class="row mt-4">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th> Phone </th>
          <th>Admin?</th>
          <th> Listener? </th>
          <th colspan="3"> Actions </th>
        <tr>
      <thead>
      <tbody>
        <tr>
          <td> <%= @user.fullname%></td>
          <td> <%= @user.username%></td>
          <td> <%= @user.contact%> </td>
          <td> <%= @user.admin? ? "Yes" : "No" %></td>
          <td> <%= @user.listener? ? "Yes" : "No"  %></td>
          <td> <%= link_to "Edit", edit_admin_user_path(@user), class: 'btn btn-primary' %> </td>
          <td >
          <%= link_to "Archive", archive_admin_user_path(@user),
                                method: :patch,
                                data: { confirm: 'Are you sure you want to archive this user?' },
                                class: "btn btn-danger #{@user.archived_at.nil? ? "active" : "disabled"}"%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
